<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/template.css" />
    <title>Template</title>
  </head>
  <body>
    <div class="level-group">
      <p class="level-title">JLPT</p>
      <p class="level-text"><%= kanjiData.jlpt %></p>
    </div>
    <p class="watermark">@kakimashou.app</p>
    <div class="container">
      <h1><%= kanjiData.kanji %></h1>
      <h3><%= kanjiData.reading %></h3>
      <p><%= kanjiData.meaning %></p>
    </div>
    <script type="text/javascript">
      function setImage() {
        var body = document.querySelector("body");

        body.style.backgroundImage = `url('/images/backgrounds/${
          Math.floor(Math.random() * 3) + 1
        }.png')`;
        console.log("Background image URL:", body.style.backgroundImage);
        body.style.backgroundRepeat = "no-repeat";
        body.style.backgroundPosition = "center center";
        body.style.backgroundAttachment = "fixed";
      }

      function generateHue() {
        let result = Math.floor(Math.random() * 360);
        if (result > 40 && result < 218) {
          return generateHue();
        } else {
          return result;
        }
      }

      function randomHSLA() {
        return `hsla(${~~generateHue()}, 70%,  72%, 0.6)`;
      }
      window.onload = function () {
        document.body.style.background = randomHSLA();
        setImage();
        setInterval(() => {
          var pElement = document.createElement("p");
          pElement.id = "tester";
          document.querySelector("body").appendChild(pElement);
        }, 1000);
      };
    </script>
  </body>
</html>
