* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
 
}

.container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 25rem;
    color: rgba(0, 0, 0, 0);
    margin-bottom: 20px;
    text-align: center;
    
}

h3 {
    font-size: 4rem;
    font-weight: 500;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-size: 3.5rem;
    font-weight: 400;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}